{
  "printWidth": 120,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"]
}
